<div class="row">
    <div *ngFor="let pokemon of filteredPokemons" class="col s12 m6 l4 xl3">
        <div class="card" [style.background-color]="getTypeColor(pokemon.type[0])"
            pkmnCardStyling="{{pokemon.type[0]}}">
            <div class="card-image">
                <small class="text-muted right">{{pokemon.num}}</small>
                <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/{{pokemon.num}}.png"
                    alt="{{pokemon.name}}">
            </div>
            <div class="card-content">
                <ul class="collection">
                    <li class="collection-item center-align">
                        <h6>{{pokemon.name | uppercase }}</h6>
                    </li>
                </ul>
                <span *ngFor="let type of pokemon.type" class="{{type | pkmnTypeColor}}">{{type}}</span>

                <p><b>Height:</b> {{pokemon.height}}</p>
                <p><b>Weight:</b> {{pokemon.weight}}</p>
                <p><b>Spawn Chance:</b> {{pokemon.spawn_chance | percent}}</p>
            </div>
            <div class="card-action center-align">
                <a href="https://www.pokemon.com/us/pokedex/{{pokemon.name}}" target="_blank">Pokedex</a>
                <a href="https://bulbapedia.bulbagarden.net/wiki/{{pokemon.name}}_(Pok%C3%A9mon)"
                    target="_blank">Wiki</a>
            </div>
        </div>
    </div>
</div>